<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css"  /> 

	<title>WhereIsRachel</title>
</head>

<body>

<div class="container"> 
	<h1> Where Is Rachel? </h1>
	<br>

	<h2> Please insert <a href='insertBillId'> BILL ID </a> </h2>
</div>


</body>
</html>