<div class="container">
    <div class="row">

        <div class="col-sm-12 h1-top">
			<h1>Hi Ohad and Boaz!</h1>
        </div>

        <!-- start of about -->
        <div class="col-sm-4">
			<p>
			    <b>Here's how you should use our application:</b>
			    <ol>
			    <li>On the main page you should sign in with your facebook account. Make sure to enable location sharing!</li>
			    <li>After signing in you can press on "Enter new bill" and choose a 10 digits bill ID to check in with.</li>
			    <li>After checking in with your bill you can see your check in on the map.</li>
			    <li>On the left corner you can see a navigation bar. You can see your profile and the your bills' routes, contact us, read about us and browse our FAQ page.</li>
			    </ol>

			We really had fun and learned a lot. We hope you will enjoy our app and see how much time and effort we've put into it :)
			Don't forget to like  our <a href="https://www.facebook.com/whereisrachel2015?fref=ts" >Facebook page.</a>
			</p>
			<h5>If you are not logged in you can't check. The app is social and requires a Facebook login.</h5>
		</div>
	</div>
</div>		
